@import "tailwindcss";

@theme {
  /* Fonts */
  --font-mono: "JetBrains Mono", monospace;
  --font-sans: "Inter", sans-serif;

  /* Colors */
  --color-void: #050505;
  --color-surface: #121212;
  --color-border: #2A2A2A;
  
  --color-neon-blue: #00F0FF;
  --color-neon-purple: #BC13FE;
  --color-neon-red: #FF003C;
  --color-neon-green: #0AFF60;

  --color-text-primary: #EDEDED;
  --color-text-secondary: #888888;
  --color-text-muted: #444444;
}

/* Base Styles */
:root {
  background-color: var(--color-void);
  color: var(--color-text-primary);
  font-family: var(--font-sans);
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: var(--color-void);
}
::-webkit-scrollbar-thumb {
  background: var(--color-border);
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--color-text-muted);
}